<div class="container">
    <h3>Labor szertára:</h3>
    <p></p>

    <div class="row">
        <p>Kiválasztott laborfelszerelések:</p>

        <div class="col-md-5">
            <select class="form-select" name="searchSelect" id="searchSelect" [(ngModel)]="selectedValue">
                <option value="chemical">Vegyszerek</option>
                <option value="woodentool">Fa eszközök</option>
                <option value="metaltool">Fém eszközök</option>
                <option value="glasscontainer">Üvegedények</option>
                <option value="device">Műszerek</option>
                <option value="otheritem">Egyéb eszközök</option>
            </select>
        </div>

    </div>

    <hr>

    <div *ngIf="isSelectedType('chemical')">
        <div class="row">
            <div class="col-md-1">ID</div>        
            <div class="col-md-3">Hivatalos név (Hétköznapi név)</div>
            <div class="col-md-1">Mennyiség</div>
            <div class="col-md-2">Mérgező hatások</div>
            <div class="col-md-1">Tárolási hely</div>
            <div class="col-md-1">Lejárat (év/hónap/nap)</div>
            <div class="col-md-2">Leírás</div>
        </div>        
        <hr>
        <div class="row top-margin20" *ngFor="let chemical of chemicals">
            <div class="col-md-1">{{ chemical.id }}</div>     
            <div class="col-md-3">{{ chemical.officialname}}  ({{chemical.name}}) </div>
            <div class="col-md-1">{{ chemical.amount }} {{ chemical.unit }}</div>
            <div class="col-md-2">{{ chemical.poisonouseffect }}</div>
            <div class="col-md-1">{{ chemical.storage }}</div>
            <div class="col-md-1">{{ chemical.expiration}}</div>
            <div class="col-md-2">{{ chemical.description }}</div>

            <div class="col-md-1">
                <button class="btn btn-primary btn-sm width80" (click)="deleteChemical(chemical)">Törlés</button>
                <button class="btn btn-primary btn-sm width80" (click)="navigateToEquipmentForm(chemical.id,'chemical')">Módosít</button>
            </div>
        </div>
    </div>

    <div *ngIf="isSelectedType('device')">
        <div class="row">
            <div class="col-md-1">ID</div> 
            <div class="col-md-3">Név</div>
            <div class="col-md-2">Mennyiség</div>
            <div class="col-md-2">Felhasználási terület</div>
            <div class="col-md-3">Leírás</div>
        </div>
        <hr>
        <div class="row top-margin20" *ngFor="let device of devices">
            <div class="row">
                <div class="col-md-1">{{ device.id }}</div>
                <div class="col-md-3">{{ device.name }}</div>
                <div class="col-md-2">{{ device.amount }}</div>
                <div class="col-md-2">{{ device.fieldofuse }}</div>
                <div class="col-md-3">{{ device.description }}</div>

                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm width80" (click)="deleteDevice(device)">Törlés</button>
                    <button class="btn btn-primary btn-sm width80" (click)="navigateToEquipmentForm(device.id,'device')">Módosít</button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="isSelectedType('glasscontainer')">
        <div class="row">
            <div class="col-md-1">ID</div> 
            <div class="col-md-3">Név</div>
            <div class="col-md-2">Űrtartalom</div>            
            <div class="col-md-2">Mennyiség</div>
            <div class="col-md-3">Leírás</div>
        </div>
        <hr>
        <div class="row top-margin20" *ngFor="let glasscontainer of glasscontainers">
            <div class="row">
                <div class="col-md-1">{{ glasscontainer.id }}</div>
                <div class="col-md-3">{{ glasscontainer.name }}</div>
                <div class="col-md-2">{{ glasscontainer.capacity }} {{ glasscontainer.unit }}</div>
                <div class="col-md-2">{{ glasscontainer.amount }}</div>
                <div class="col-md-3">{{ glasscontainer.description }}</div>

                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm width80" (click)="deleteGlassContainer(glasscontainer)">Törlés</button>
                    <button class="btn btn-primary btn-sm width80" (click)="navigateToEquipmentForm(glasscontainer.id,'glasscontainer')">Módosít</button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="isSelectedType('metaltool')">
        <div class="row">
            <div class="col-md-1">ID</div> 
            <div class="col-md-3">Név</div>
            <div class="col-md-2">Mennyiség</div>
            <div class="col-md-3">Leírás</div>
        </div>
        <hr>
        <div class="row top-margin20" *ngFor="let metaltool of metaltools">
            <div class="row">
                <div class="col-md-1">{{ metaltool.id }}</div>
                <div class="col-md-3">{{ metaltool.name }}</div>
                <div class="col-md-2">{{ metaltool.amount }}</div>
                <div class="col-md-3">{{ metaltool.description }}</div>

                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm width80" (click)="deleteMetalTool(metaltool)">Törlés</button>
                    <button class="btn btn-primary btn-sm width80" (click)="navigateToEquipmentForm(metaltool.id,'metaltool')">Módosít</button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="isSelectedType('otheritem')">
        <div class="row">
            <div class="col-md-1">ID</div> 
            <div class="col-md-3">Név</div>
            <div class="col-md-2">Mennyiség</div>
            <div class="col-md-3">Leírás</div>
        </div>
        <hr>
        <div class="row top-margin20" *ngFor="let otheritem of otheritems">
            <div class="row">
                <div class="col-md-1">{{ otheritem.id }}</div>
                <div class="col-md-3">{{ otheritem.name }}</div>
                <div class="col-md-2">{{ otheritem.amount }}</div>
                <div class="col-md-3">{{ otheritem.description }}</div>

                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm width80" (click)="deleteOtherItem(otheritem)">Törlés</button>
                    <button class="btn btn-primary btn-sm width80" (click)="navigateToEquipmentForm(otheritem.id,'otheritem')">Módosít</button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="isSelectedType('woodentool')">
        <div class="row">
            <div class="col-md-1">ID</div> 
            <div class="col-md-3">Név</div>
            <div class="col-md-2">Mennyiség</div>
            <div class="col-md-3">Leírás</div>
        </div>
        <hr>
        <div class="row top-margin20" *ngFor="let woodentool of woodentools">
            <div class="row">
                <div class="col-md-1">{{ woodentool.id }}</div>
                <div class="col-md-3">{{ woodentool.name }}</div>
                <div class="col-md-2">{{ woodentool.amount }}</div>
                <div class="col-md-3">{{ woodentool.description }}</div>

                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm width80" (click)="deleteWoodenTool(woodentool)">Törlés</button>
                    <button class="btn btn-primary btn-sm width80" (click)="navigateToEquipmentForm(woodentool.id,'woodentool')">Módosít</button>
                </div>
            </div>

        </div>
    </div>

    

</div>