<div class="row justify-content-md-center">
    <div class="col-md-6">
        <br>
        <div class="text-center">
            <h1>Figyelem!</h1>
        </div>
    </div>
    <div class="col-md-9 justify">
        <br>
        <h4>
            A következő gomb megnyomásával az adatbázisban lévő összes időpont ideje eltolásra kerül egy héttel.
            Ez járhat adatok végleges törlődésével és adatok módosításával! Az így keletkezett változások az adatokon nem vonhatóak vissza!
        </h4>
    </div>
    <br>
    <div class="col-md-6">
        <br>
        <div class="text-center">
            <button class="btn btn-danger bigbuttonsize" (click)="startNewWeek()">Meglévő hetek eltolása</button>
        </div>
    </div>
</div>