<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form [formGroup]="userForm">
            <div class="mb-3">
                <label for="username" class="form-label">Felhasználó név</label>
                <input type="username" class="form-control" id="username" formControlName="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Jelszó</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            
            <div class="text-center">
                <button class="btn btn-outline-primary" (click)="registerUser()">Fiók létrehozása</button>
            </div>
        </form>
    </div>
</div>
