.top-margin20 { margin-top:20px; }

.width80 {
    width: 80px;
}

.col-md-6,.col-md-5,.col-md-4,.col-md-3, .col-md-2, .col-md-1{
    word-wrap: break-word; 
}

.centered {
    text-align: center;
}

.centered2 {
    margin-right: auto;
    margin-left: auto;
}

.spaceabove {
    margin-top: 70px;
}

.spaceleft {
    margin-left: 30px;
}

.spaceleft10 {
    margin-left: -11px;
}

.calendarfilled {
    background-color: rgb(139, 199, 218) !important;
}

.timetableclass {
    background-color: rgb(223, 202, 132) !important;
}

td {
    border-collapse: collapse;
    padding: 0px;
    outline: 0;
    border: 1px solid black;
}

tr {
    height: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse; 
    width: 100%; 
}

.calendaractivitystyle {
    float: left;
    font-size: 60%;
}

.calendargroupstyle {    
    font-weight: bold;
    text-align: center;
    font-size: 80%
}

.calendarclassstyle {
    float: right;
    font-size: 60%;
}

.calendardescstyle {
    padding-top: 6px;
    text-align: center;
    font-size: 60%;
}

.borderleft {
    border-left: 1px solid black;
}

.calendarhalf {
    padding: 3px;
    display: inline-block;
    width: 50% !important;
}

.calendarfull {
    padding: 3px;
    display: inline-block;
    width: 100%;
}

.paddingBeforeAfter {
    padding-top: 22px;
    padding-bottom: 22px;
}

