.top-margin20 { margin-top:20px; }

.width80 {
    width: 80px;
}

.col-md-6,.col-md-5,.col-md-4,.col-md-3, .col-md-2, .col-md-1{
    word-wrap: break-word; 
}

.centered {
    text-align: center;
}

.centered2 {
    margin-right: auto;
    margin-left: auto;
}

.spaceabove {
    margin-top: 70px;
}

.spaceleft {
    margin-left: 30px;
}

.spaceleft10 {
    margin-left: -11px;
}






.calendarfilled {
    background-color: rgb(139, 199, 218) !important;
}

.timetableclass {
    background-color: rgb(223, 202, 132) !important;
}

.error {
    background-color: red;
}

td {
    border-collapse: collapse;
    padding: 0px;
    outline: 0;
    border: 1px solid black;
}

tr {
    height: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse; 
    width: 100%; 
}

.calendaractivitystyle {
    float: left;
    font-size: 60%;
}

.calendargroupstyle {    
    font-weight: bold;
    text-align: center;
    font-size: 80%
}

.calendarclassstyle {
    float: right;
    font-size: 60%;
}

.calendardescstyle {
    padding-top: 6px;
    text-align: center;
    font-size: 60%;
}

.borderleft {
    border-left: 1px solid black;
}

.borderright {
    border-right: 1px solid black;
}

.calendarhalf {
    padding: 3px;
    display: inline-block;
    width: 50% !important;
}

.calendarfull {
    padding: 3px;
    display: inline-block;
    width: 100%;
}

.paddingBeforeAfter {
    padding-top: 22px;
    padding-bottom: 22px;
}

.emptycell {
    color: white;
}






.widthMax {
    width: 100%
}

.padding1 {
    padding: 1%;
}

.experimentList {
    float: left;
    width: 20%
}

.experimentInfo {
    float: right;
    width: 80%
}

.experimentListButton {
    width: 100%;
    height: 200%;
    text-align: left;
}

.experimentDescription {
    padding: 1%;
    background-color: #bae2e7;
    /*height: 100%;*/
    min-height: 100%;
    word-wrap: break-word; 
}

.experimentItems {
    padding: 0.5%;
    background-color: #ffffff;
}

.missingItem {
    background-color: #e77d82;
    color: #971010;
}

.experimentAmount {
    display:inline;
    float:right;
}





.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: #ffffff00;
    padding: 14px 16px;    
    height: 100%;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #aacad6; 
    left: 0;
    z-index: 1;
    min-width: 100%;     
  }

.dropdown:hover .dropdown-content {
    display: block;     
}

.navbar a {
    float: none;    
    text-decoration: none; 
    color: black;  
    width: 100%;  
    display: block; 
    white-space: pre;    
}

.dropdown-content a {
    line-height: 250%;         
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #76a5b6;
}

.navbar {    
    display: flex;
    justify-content: space-around;
    background-color: #aacad6;
    padding: 0;
    display:flex;
    align-items: stretch;
}

.loginc {
    background-color: #76a5b6;
}

.logoutc {
    background-color: #c46a6a;
}

.loginc:hover .dropbtn, .loginc a:hover {
    background-color: #527581;
}

.logoutc:hover .dropbtn, .logoutc a:hover{
    background-color: #ca2c2c;
}




.justify {
    text-align: justify;
}

.bigbuttonsize {
    font-size: 240%;
    width: 60vh;
    height: 16vh;
    width: fit-content;
}

.textsize80{
    font-size: 80%;
    font-style: italic;
}