.bg {
    background-color: #d2e3ec;
}   

.bgdark {
    background-color: #4c748f;
}

.bgmid {
    background-color: #96bad3;
}

html {
    height: 100%;
}

.height100 {
    min-height: 100pv;
}

body {
    height: 100%;
    background-attachment:fixed;
    background-image: linear-gradient(#9fc2d8, #6c91aa);
}

.timesfont {
    font-family: Georgia, serif;
}

.smallpad{
    padding-top: 1%;
    padding-bottom: 1%;
}

.forlinespace{
    padding-top:0.2%;
}

.greetmessage{
    font-size: 80%;
    font-style: italic;
}


.navbar {  
    display: flex;
    justify-content: space-around;
    background-color: #5e8ead;  
    padding: 0;    
    display:flex;
    align-items: stretch;
    color: white;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: #ffffff00;
    padding: 14px 16px;    
    height: 100%;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #96bad3;  
    left: 0;
    z-index: 1;
    min-width: 100%;     
  }

.dropdown:hover .dropdown-content {
    display: block;     
}

.navbar a {
    float: none;    
    text-decoration: none; 
    color: rgb(0, 0, 0);  
    width: 100%;  
    display: block; 
    white-space: pre;    
}

.dropdown-content a {
    line-height: 250%;         
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #406f8f; 
}

.logoutc {
    background-color: #c05252;
}

.logoutc:hover .dropbtn, .logoutc a:hover{
    background-color: #b43939;
}


.btn-primary {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #5e8ead;
    border-color: #5e8ead;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #406f8f !important;
    border-color: #406f8f !important;
}


.btn-danger {
    background-color: #c05252;
    border-color: #c05252;
}

.btn-danger:hover, .btn-danger:focus  {
    background-color: #b43939 !important;
    border-color: #b43939 !important;
}

.btn-light {
    background-color: #96bad3;
    border-color: #96bad3;
}

.btn-light:hover, .btn-light:focus  {
    background-color: #5e8ead !important;
    border-color: #5e8ead !important;
}

.btn-outline-primary{
    color: #5e8ead;
    border-color: #5e8ead;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    color: white !important;
    background-color: #5e8ead !important;
    border-color: #5e8ead !important;
}

.top-margin20 { margin-top:20px; }

.width80 {
    width: 80px;
}

.col-md-6,.col-md-5,.col-md-4,.col-md-3, .col-md-2, .col-md-1{
    word-wrap: break-word; 
}

.centered {
    text-align: center;
}

.centered2 {
    margin-right: auto;
    margin-left: auto;
}

.spaceabove {
    margin-top: 70px;
}

.spaceleft {
    margin-left: 30px;
}

.spaceleft10 {
    margin-left: -11px;
}







.calendarfilled {
    background-color: #e4c973 !important;
}

.timetableclass {
    background-color: #96bad3 !important;
}

.error {
    background-color: red;
}

td {
    border-collapse: collapse;
    padding: 0px;
    outline: 0;
    border: 1px solid black;
}

tr {
    height: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse; 
    width: 100%; 
}

.calendaractivitystyle {
    float: left;
    font-size: 70%;
}

.calendargroupstyle {    
    font-weight: bold;
    text-align: center;
    font-size: 80%
}

.calendarclassstyle {
    float: right;
    font-size: 70%;
}

.calendardescstyle {
    padding-top: 6px;
    text-align: center;
    font-size: 70%;
}

.borderleft {
    border-left: 1px solid black;
}

.borderright {
    border-right: 1px solid black;
}

.calendarhalf {
    padding: 3px;
    display: inline-block;
    width: 50% !important;
}

.calendarfull {
    padding: 3px;
    display: inline-block;
    width: 100%;
}

.paddingBeforeAfter {
    padding-left:0.5%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.emptycell {
    color: white;
}






.widthMax {
    width: 100%
}

.padding1 {
    padding: 1%;
}

.experimentList {
    float: left;
    width: 20%;
    overflow: hidden;
}

.experimentInfo {
    float: right;
    width: 80%
}

.experimentListButton {
    width: 100%;
    height: 200%;
    text-align: left;    
}

.experimentDescription {
    padding: 1%;
    background-color: #96bad3;
    /*height: 100%;*/
    min-height: 100%;
    word-wrap: break-word; 
}

.experimentItems {
    padding: 0.5%;
    background-color: #ffffff;
}

.missingItem {
    background-color: #e77d82;
    color: #971010;
}

.experimentAmount {
    display:inline;
    float:right;
}







.justify {
    text-align: justify;
}

.bigbuttonsize {
    font-size: 240%;
    width: 60vh;
    height: 16vh;
    width: fit-content;
}

.textsize80{
    font-size: 80%;
    font-style: italic;
}