<div class="container">
    <h3>Laborbeosztás naptára:</h3>
    <p></p>

    <div class="row centered">
        <div class="col-md-4"><button class="btn btn-primary btn-sm" (click)="changeToPreviousWeek()">Előző hét</button></div>       
        <div class="col-md-4">
            <h3>{{ currentweeknumber }}. hét</h3>
        </div> 
        <div class="col-md-4"><button class="btn btn-primary btn-sm" (click)="changeToNextWeek()">következő hét</button></div>  
    </div>
    <hr>


    <table >
        <col style="width: 5%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">

        <thead>

        </thead>

        <tbody>
            <tr>
                <td></td> 
                <td class="centered">Hétfő</td> 
                <td class="centered">Kedd</td> 
                <td class="centered">Szerda</td> 
                <td class="centered">Csütörtök</td> 
                <td class="centered">Péntek</td> 
            </tr>            
            <tr>
                <td class="paddingBeforeAfter">0. óra</td>              
                <td *ngFor="let number of [0,18,36,54,72]" [class.calendarfilled]='ifFilled(number)'>                    
                        <div *ngIf="currentWeeksclasses[number]">
                        <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                            <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                            <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                            <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                        </div>
                        <div *ngIf="ifFilled(number+1)" class="calendarfilled calendarhalf borderleft" [class.timetableclass]='ifTimeTable(number+1)'>
                            <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                            <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                            <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                        </div>
                        </div>                    
                </td>
            </tr>
            <tr>
                <td class="paddingBeforeAfter">1. óra</td>              
                <td *ngFor="let number of [2,20,38,56,74]" [class.calendarfilled]='ifFilled(number)'>                    
                        <div *ngIf="currentWeeksclasses[number]">
                        <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                            <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                            <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                            <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                        </div>
                        <div *ngIf="ifFilled(number+1)" [class.timetableclass]='ifTimeTable(number+1)' class="calendarfilled calendarhalf borderleft">
                            <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                            <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                            <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                        </div>
                        </div>                    
                </td>
                
            </tr>
            <tr >   
                <td class="paddingBeforeAfter">2. óra</td>              
                <td *ngFor="let number of [4,22,40,58,76]" [class.calendarfilled]='ifFilled(number)'>                    
                        <div *ngIf="currentWeeksclasses[number]">
                        <div class="calendarfull" [class.calendarfilled]='ifFilled(number)' [class.calendarhalf]='ifFilled(number+1)'>
                            <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                            <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                            <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                        </div>
                        <div *ngIf="ifFilled(number+1)" class="calendarfilled calendarhalf borderleft">
                            <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                            <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                            <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                        </div>
                        </div>                    
                </td>
            </tr>
            <tr>
                <td class="paddingBeforeAfter">3. óra</td> 
                <td *ngFor="let number of [6,24,42,60,78]" [class.calendarfilled]='ifFilled(number)'>                    
                    <div *ngIf="currentWeeksclasses[number]">
                    <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                    </div>
                    <div *ngIf="ifFilled(number+1)" [class.timetableclass]='ifTimeTable(number+1)' class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                    </div>
                    </div>                    
                </td>
            </tr>
            <tr>
                <td class="paddingBeforeAfter">4. óra</td> 
                <td *ngFor="let number of [8,26,44,62,80]" [class.calendarfilled]='ifFilled(number)'>                    
                    <div *ngIf="currentWeeksclasses[number]">
                    <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                    </div>
                    <div *ngIf="ifFilled(number+1)" [class.timetableclass]='ifTimeTable(number+1)' class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                    </div>
                    </div>                    
                </td>
            </tr>
            <tr>
                <td class="paddingBeforeAfter">5. óra</td> 
                <td *ngFor="let number of [10,28,46,64,82]" [class.calendarfilled]='ifFilled(number)'>                    
                    <div *ngIf="currentWeeksclasses[number]">
                    <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                    </div>
                    <div *ngIf="ifFilled(number+1)" [class.timetableclass]='ifTimeTable(number+1)' class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                    </div>
                    </div>                    
                </td>
            </tr>
            <tr>
                <td class="paddingBeforeAfter">6. óra</td> 
                <td *ngFor="let number of [12,30,48,66,84]" [class.calendarfilled]='ifFilled(number)'>                    
                    <div *ngIf="currentWeeksclasses[number]">
                    <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                    </div>
                    <div *ngIf="ifFilled(number+1)" [class.timetableclass]='ifTimeTable(number+1)' class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                    </div>
                    </div>                    
                </td>
            </tr>
            <tr>
                <td class="paddingBeforeAfter">7. óra</td>
                <td *ngFor="let number of [14,32,50,68,86]" [class.calendarfilled]='ifFilled(number)'>                    
                    <div *ngIf="currentWeeksclasses[number]">
                    <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                    </div>
                    <div *ngIf="ifFilled(number+1)" [class.timetableclass]='ifTimeTable(number+1)' class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                    </div>
                    </div>                    
                </td>
            </tr>
            <tr>
                <td class="paddingBeforeAfter">8. óra</td> 
                <td *ngFor="let number of [16,34,52,70,88]" [class.calendarfilled]='ifFilled(number)'>                    
                    <div *ngIf="currentWeeksclasses[number]">
                    <div class="calendarfull" [class.timetableclass]='ifTimeTable(number)' [class.calendarhalf]='ifFilled(number+1)'>
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number]?.description}}</div>
                    </div>
                    <div *ngIf="ifFilled(number+1)" [class.timetableclass]='ifTimeTable(number+1)' class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{currentWeeksclasses[number+1]?.activity}}</div><div class="calendarclassstyle">{{currentWeeksclasses[number+1]?.classroom}}</div><br>
                        <div class="calendargroupstyle">{{groupsToString(currentWeeksclasses[number+1]?.groups)}}</div>
                        <div class="calendardescstyle">{{currentWeeksclasses[number+1]?.description}}</div>
                    </div>
                    </div>                    
                </td>
            </tr>
        </tbody>
    </table>
</div>