<div class="container">
    <h3>Laborbeosztás naptára:</h3>
    <p></p>

    <div class="row centered">
        <div class="col-md-4"><button class="btn btn-primary btn-sm">Előző hét</button></div>       
        <div class="col-md-4">
            <h3>{{ currentweek }}. hét</h3>
        </div> 
        <div class="col-md-4"><button class="btn btn-primary btn-sm">következő hét</button></div>  
    </div>

    <hr>


    <table >
        <col style="width: 5%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">

        <thead>

        </thead>

        <tbody>
            <tr>
                <td></td> 
                <td class="centered">Hétfő</td> 
                <td class="centered">Kedd</td> 
                <td class="centered">Szerda</td> 
                <td class="centered">Csütörtök</td> 
                <td class="centered">Péntek</td> 
            </tr>            
            <tr>
                <td>0. óra</td>
                <td [class.calendarfilled]='ifFilled(0)'>
                    <div class="calendarfull" [class.calendarfilled]='ifFilled(0)' [class.calendarhalf]='ifFilled(1)'>
                        <div class="calendaractivitystyle">{{calendars[0].activity}}</div><div class="calendarclassstyle">{{calendars[0].classroom}}</div><br>
                        <div class="calendargroupstyle">group</div>
                        <div class="calendardescstyle">{{calendars[0].description}}</div>
                    </div>
                    <div *ngIf="ifFilled(1)" class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{calendars[1].activity}}</div><div class="calendarclassstyle">{{calendars[1].classroom}}</div><br>
                        <div class="calendargroupstyle">group</div>
                        <div class="calendardescstyle">{{calendars[1].description}}</div>
                    </div>
                </td>

                <td [class.calendarfilled]='ifFilled(0)'>
                    <div class="calendarfull" [class.calendarfilled]='ifFilled(0)' [class.calendarhalf]='ifFilled(2)'>
                        <div class="calendaractivitystyle">{{calendars[0].activity}}</div><div class="calendarclassstyle">{{calendars[0].classroom}}</div><br>
                        <div class="calendargroupstyle">group</div>
                        <div class="calendardescstyle">{{calendars[0].description}}</div>
                    </div>
                    <div *ngIf="ifFilled(2)" class="calendarfilled calendarhalf borderleft">
                        <div class="calendaractivitystyle">{{calendars[1].activity}}</div><div class="calendarclassstyle">{{calendars[1].classroom}}</div><br>
                        <div class="calendargroupstyle">group</div>
                        <div class="calendardescstyle">{{calendars[1].description}}</div>
                    </div>
                </td>
                            

                <td>b</td>
                <td></td>
                <td></td>
                
            </tr>
            <tr>
                <td>1. óra</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td> 
            </tr>
            <tr>
                <td>2. óra</td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3. óra</td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4. óra</td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5. óra</td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6. óra</td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>7. óra</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td> 
            </tr>
            <tr>
                <td>8. óra</td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>